.idea/
!.idea/libraries/*
!.idea/artifacts/*
!.idea/modules.xml
!.idea/misc.xml
!.idea/vcs.xml

out/
tmp/
player27\.class

submission\.jar
testrun/submission\.jar

logs/*
.ipynb_checkpoints/
